<footer class="w-10/12 bg-white mx-auto rounded-lg lg:h-64 lg:flex text-black justify-between my-5 gap-4 p-5">
    <div>
        <h3 class="text-3xl font-bold mb-3">Let's Connect 🤝</h3>
        <h6 class="text-gray-700 mb-3">
            Want to build something amazing, or just want to say hi — I'm just a click away.
        </h6>

        <div class="social-links flex text-black text-4xl gap-3 justify-center">
            <a href="https://github.com/3atofa" target="_blank" rel="noopener noreferrer"
                class=" border-black border-2 rounded-full text-center p-3 px-4 hover:-translate-y-1 duration-500 cursor-pointer hover:bg-black hover:text-white">
                <i class="bi bi-github"></i>
                <p class="text-sm">Github</p>
            </a>

            <a href="https://www.linkedin.com/in/omar-atef-328b31265" target="_blank" rel="noopener noreferrer"
                class="border-black border-2 rounded-full text-center p-3 py-4 hover:-translate-y-1 duration-500 cursor-pointer text-white bg-black hover:bg-white hover:text-black">
                <i class="bi bi-linkedin"></i>
                <p class="text-sm">LinkedIn</p>
            </a>
        </div>
    </div>

    <div class="lg:flex gap-4 ">
        <a href="mailto:omaratef@gmail.com" target="_blank"
            class="w-full lg:w-56 h-56 mx-auto my-4 lg:my-0 bg-white text-sky-600 flex flex-col items-center justify-center rounded-lg cursor-pointer hover:-translate-x-2 hover:-translate-y-2 duration-500 group border-2 border-sky-600 hover:text-white hover:bg-sky-600">
            <i class="bi bi-envelope-at text-2xl animate-bounce relative inline-flex">
                <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></span>
                <span class="relative inline-flex rounded-full h-2 w-2 bg-sky-500"></span>
            </i>
            <p class="text-lg font-semibold">Email</p>
        </a>


        <a href="https://wa.me/201024661159" target="_blank"
            class="w-full lg:w-56 h-56 mx-auto bg-green-500 text-white flex flex-col items-center justify-center rounded-lg cursor-pointer hover:-translate-x-2 hover:-translate-y-2 duration-500 group border-2 hover:border-green-500 hover:bg-white hover:text-green-500">
            <i class="bi bi-whatsapp group-hover:animate-bounce text-2xl  relative inline-flex">
                <span
                    class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"></span>
                <span class="relative inline-flex rounded-full h-2 w-2 bg-green-600"></span>
            </i>
            <p class="text-lg font-semibold">WhatsApp</p>
        </a>
    </div>
</footer>