.image-gradient{
    z-index:-1;
}

.lamb{
    position: absolute;
    right:0;
    top:20%;
    width: 30rem;      
    box-shadow: 0 0 700px 15px white;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    rotate: -30deg;
    z-index: -1;
}

.light {
  box-shadow: 0 0 700px 14px white;
 
}


.right-light{
    
    box-shadow: 0 0 700px 15px white;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    rotate: -45deg;
}

.left-light{
    
    box-shadow: 0 0 700px 15px white;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    rotate: 45deg;
}

.right-bulb{
    rotate: -150deg;
}

.left-bulb{
    rotate: 150deg;
}

.bulb::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 333px;
  background-color: #ffffffaa;
  overflow: hidden;
}

