<section class="relative mx-6">
    <h3 class="uppercase text-3xl pt-10">Omar Atef</h3>
    <div class="light-effect relative">
        <img class="absolute top-0 right-0 " src="/assets/img/gradient.png" alt="">
        <div data-aos="fade-zoom-out" data-aos-duration="3000" class=" lamb right-10 top-44 z-50 "></div>
        <i
            class="bi bi-lightbulb-fill bulb absolute top-28 right-[150px] right-bulb text-white text-4xl rotate-[180deg] "></i>
    </div>

    <div class="lg:flex lg:flex-row-reverse items-center overflow-hidden">
        <!-- ^ robot start -->
        <spline-viewer data-aos="fade-up-left" class="h-[45rem] lg:h-[35rem] "
            url="https://prod.spline.design/HVC9zrbSDI-JY-8b/scene.splinecode"></spline-viewer>
        <!-- ^ robot ends -->


        <div data-aos="fade-up-right" class="">
            <h3 data-aos="zoom-out" class="font-bold leading-relaxed uppercase mb-3 text-xl lg:text-4xl  w-full">
                omar Atef Hassan <br />
                Frontend DEveloper
            </h3>
            <p data-aos="zoom-in" data-aos-duration="3000" class="text-gray-300 text-sm ">Experience in building
                responsive,
                scalable web applications using Angular, TailwindCSS, SASS, Bootstrap, and REST API
                integration. Proven ability to create modern user interfaces for dashboards, business portals,
                and landing pages.</p>
            <!-- ! Contact & CV -->
            <div data-aos="fade-right" data-aos-duration="3000" class="mt-8 flex flex-col lg:flex-row gap-4 ">
                <button
                    class="px-4 py-2 w-full text-sm lg:text-md rounded border border-black bg-white text-black  hover:bg-black duration-500 hover:text-white hover:border-white">Download
                    CV <i class="ms-1 bi bi-arrow-down-circle inline-block animate-bounce text-xl"></i></button>
                <button
                    class="px-4 py-2 w-full text-sm lg:text-md rounded border border-white bg-black text-white duration-500  hover:bg-white hover:text-black hover:border-black">Contact
                    Me
                    <i class="ms-2 animate-spin inline-block bi bi-phone-fill"></i></button>
            </div>

        </div>
    </div>
</section>

<section class="relative mx-6">
    <!-- ! header starts -->
    <div data-aos="zoom-in" class="relative w-max mx-auto mt-20 text-centerz-50">
        <p class="text-3xl uppercase relative z-20">Projects</p>
        <div class="light absolute top-full left-1/2 -translate-x-1/2 mt-2 w-[9rem] z-50"></div>
        <img class="absolute left-1/2 -translate-x-1/2 -translate-y-10  top-[-20%] opacity-50  z-50"
            src="/assets/img/gradient.png" alt="" />
    </div>



    <!-- ^ projects -->
    <div data-aos="fade-up" class="flex flex-wrap justify-center lg:justify-between mt-10  gap-4">

        <!-- Main portfolio card -->
        <a href="https://3atofa.github.io/Portfolio-Website/" target="_blank"
            class="box box-border bg-black p-2 rounded-xl w-full lg:w-[65%] border border-slate-300 hover:border-slate-100 hover:shadow shadow-white hover:border-2 transition-all ease-in-out">
            <img class="w-full rounded-xl" src="/assets/img/portfolio-project.png" alt="">
            <h3 class="text-xl font-normal mt-3 mb-2 text-white">Personal Portfolio Website</h3>
            <p class="text-gray-200 text-sm">
                A responsive, modern portfolio website designed to showcase skills made by Bootstrap.
            </p>
        </a>

        <!-- Spline viewer -->
        <div data-aos="fade-up" data-aos-duration="3000"
            class="w-full sm:w-[48%] lg:w-[30%] h-[400px] mb-10 lg:mb-0 my-3  box-border">
            <spline-viewer class="w-2/3 mx-auto rounded-2xl overflow-hidden"
                url="https://prod.spline.design/SUBHD48q7YiBSX-f/scene.splinecode"></spline-viewer>
            <h3 class="text-white text-lg font-bold text-center mt-4">Let's boost your Work</h3>
        </div>

        <!-- Project cards -->
        <a data-aos="fade-right" data-aos-duration="3000" href="https://3atofa.github.io/Restaurant-website/"
            target="_blank"
            class="box box-border bg-black p-2 rounded-xl w-full sm:w-[48%] md:w-[32%] border border-slate-300 hover:border-slate-100 hover:shadow shadow-white hover:border-2 transition-all ease-in-out">
            <img class="w-full rounded-xl" src="/assets/img/Melfiy.png" alt="">
            <h3 class="text-xl font-normal mt-3 mb-2 text-white">Restaurant Website</h3>
            <p class="text-gray-200 text-sm">
                Mealify is an elegant restaurant landing page showcasing gourmet dining experiences, professional chef
                profiles, and a stunning food gallery.
            </p>
        </a>

        <a data-aos="fade-right" data-aos-duration="2000" href="https://3atofa.github.io/Portfolio-Website/"
            target="_blank"
            class="box box-border bg-black p-2 rounded-xl w-full sm:w-[48%] md:w-[32%] border border-slate-300 hover:border-slate-100 hover:shadow shadow-white hover:border-2 transition-all ease-in-out">
            <img class="w-full rounded-xl" src="/assets/img/portfolio-project.png" alt="">
            <h3 class="text-xl font-normal mt-3 mb-2 text-white">Personal Portfolio Website</h3>
            <p class="text-gray-200 text-sm">
                A responsive, modern portfolio website designed to showcase skills made by Bootstrap.
            </p>
        </a>

        <a data-aos="fade-right" data-aos-duration="1000" href="https://3atofa.github.io/Portfolio-Website/"
            target="_blank"
            class="box box-border bg-black p-2 rounded-xl w-full sm:w-[48%] md:w-[32%] border border-slate-300 hover:border-slate-100 hover:shadow shadow-white hover:border-2 transition-all ease-in-out">
            <img class="w-full rounded-xl" src="/assets/img/portfolio-project.png" alt="">
            <h3 class="text-xl font-normal mt-3 mb-2 text-white">Personal Portfolio Website</h3>
            <p class="text-gray-200 text-sm">
                A responsive, modern portfolio website designed to showcase skills made by Bootstrap.
            </p>
        </a>

    </div>
    <!-- ^ projects ends -->




    <hr class="my-16 lg:mx-40">
</section>

<!-- ! Work Experience -->
<section class="relative mt-4 ">
    <div data-aos="zoom-in" class="relative w-max mx-auto my-20 text-center">
        <!-- Projects title -->
        <p class="text-3xl uppercase relative z-20">Work Experience</p>

        <!-- Light effect -->
        <div class="light w-72 absolute top-0 left-1/2 -translate-x-1/2 mt-2 z-50"></div>

        <!-- Gradient image -->
        <img class="absolute  left-1/2 -translate-x-1/2 -translate-y-10  top-[-20%] opacity-50 w-[30rem]   z-0"
            src="/assets/img/gradient.png" alt="" />
    </div>

    <!-- & GenAI starts -->
    <div class="relative  overflow-hidden border-slate-300 border-t rounded-xl mt-5 lg:mx-[5%]  px-7 py-5 z-50">

        <i class="bi bi-lightbulb-fill bulb z-40 absolute top-[5%] left-[50%] rotate-[180deg] text-4xl text-white"></i>
        <div data-aos="fade-zoom-out" data-aos-duration="3000"
            class="absolute light top-[15%] left-[45%] w-40 -translate-x-1/2 -translate-y-1/2 z-30 rounded-full "></div>


        <div class="flex justify-between items-center h-fit w-full mb-3">
            <h3 class="text-md lg:text-2xl font-bold ">GenAI Company Internship</h3>
            <p class="text-sm lg:text-md">(1.mar 2025)- (1.jun 2025)</p>
        </div>
        <!-- ! projects -->

        <h3 data-aos="fade-up-right" class="text-md mb-6">
            Designed and developed responsive admin dashboards for tourism and apparel manufacturing platforms using
            Angular and Tailwind CSS — improving user experience and boosting client engagement across 4+ projects.
        </h3>

        <h3>Work Experience in GenAI:</h3>
        <ul class="list-disc font-light ms-5">
            <li data-aos="fade-left" class=" text-sm lg:text-base my-2 lg:my-4">
                A comprehensive internal system for a clothing factory enabling
                product and category management. Supports multiple product sizes and variations, streamlining inventory
                control and catalog organization.
            </li>

            <li data-aos="fade-left" class=" text-sm lg:text-base my-2 lg:my-4">
                A robust internal platform built for a tourism company to efficiently
                manage tours, hotel bookings, and destination details — streamlining operations and improving client
                service delivery.
            </li>

        </ul>


    </div>
    <!-- & GenAI ends -->

    <hr class="mb-16 lg:mx-[20%]">
</section>
<!-- ~ main Content ends -->

<!-- & Services starts -->
<section class="relative border-slate-300 border-t rounded-xl  lg:mx-[5%] overflow-hidden">
    <div data-aos="zoom-in" class="relative w-max mx-auto mt-32 mb-14  text-center">
        <!-- Projects title -->
        <p class="text-3xl uppercase relative z-20">Services</p>

        <!-- Light effect -->
        <div class="light w-72 absolute top-0 left-1/2 -translate-x-1/2 mt-2 z-10"></div>
    </div>

    <i class="bi bi-lightbulb-fill bulb z-40 absolute top-[5%] left-[48%] rotate-[180deg] text-4xl text-white"></i>
    <div data-aos="fade-zoom-out" data-aos-duration="3000"
        class="absolute light top-[15%] left-[45%] w-20 -translate-x-1/2 -translate-y-1/2 z-30 rounded-full "></div>
    <img class="image-gradient absolute top-0 left-1/2 -translate-x-1/2 opacity-50" src="/assets/img/gradient.png"
        alt="">

    <div class="lg:flex justify-between items-center">
        <!-- Landing Pages Box -->
        <div class="box border border-white rounded-xl lg:w-[48%] px-2 py-3">
            <h3 class="text-xl font-semibold mb-2">Landing Pages</h3>
            <p class="text-sm text-gray-300">
                Custom-designed, responsive landing pages built with TailwindCSS and Angular. Ideal for lead generation,
                product promotion, and portfolio showcases — optimized for speed, mobile usability, and performance.
            </p>
        </div>

        <!-- Web Application Box -->
        <div class="box border border-white rounded-xl lg:w-[48%] p-5 mt-3 lg:mt-0">
            <h3 class="text-xl font-semibold mb-2">Web Applications</h3>
            <p class="text-sm text-gray-300">
                Scalable, API-integrated web applications developed using Angular and modern UI tools. Built for
                businesses that require clean dashboards, real-time interactions, and mobile-friendly interfaces.
            </p>
        </div>
    </div>
    <hr class="mt-16 lg:mx-[20%]">
</section>
<!-- & Services ends -->


<!-- ! Contact starts -->
<section class="relative mb-4 lg:mx-[10%] pt-10 overflow-x-hidden">
    <div data-aos="zoom-in" class="relative w-max mx-auto mb-20 text-center">
        <!-- Projects title -->
        <p class="text-3xl uppercase relative z-20">Contact Me</p>

        <!-- Light effect -->
        <div class="light w-72 absolute top-0 left-1/2 -translate-x-1/2 mt-2 z-50"></div>

        <!-- Gradient image -->
        <img class="image-gradient absolute top-0 left-1/2 -translate-x-1/2 opacity-50" src="/assets/img/gradient.png"
            alt="">
    </div>

    <div class="lg:flex justify-between items-center my-16">
        <div class="lg:w-1/2 border border-white rounded-lg px-3 py-4 h-full">
            <form action="">
                <h3 class="text-center text-2xl mb-4">Send Me Message</h3>
                <input class="block w-full text-white rounded-xl bg-transparent border border-white px-3 py-4 "
                    type="text" placeholder="First Name">

                <input class="block w-full text-white rounded-xl bg-transparent border border-white px-3 py-4 mt-4"
                    type="text" placeholder="Last Name">

                <textarea
                    class="block w-full min-h-48 text-white rounded-xl bg-transparent border border-white px-3 py-4 mt-4 mb-8"
                    name="" id="" placeholder="Message"></textarea>

                <button type="button" class="px-4 py-2 w-full bg-white text-black rounded-xl">Submit</button>
            </form>
        </div>

        <div class="lg:w-1/2 my-4 lg:my-0">
            <img class="w-2/3 mx-auto  lg:ms-auto rounded-full" src="/assets/img/omar-bg-cut.jpg" alt="">
        </div>
    </div>

    <div class="lg:flex text-center justify-between rounded-xl  px-5 py-2 gap-y-3 flex-wrap">
        <div class="box my-4 lg:my-0 border-2 rounded-xl w-full lg:w-[49%] py-4 ">
            <a target="_blank" href="mailto:omaratef.212109@gmail.com" class="text-white text-sm text-center">
                <div
                    class="h-16 w-16 border border-white rounded-full mx-auto flex items-center justify-center my-2 text-2xl">
                    <i class="bi bi-envelope-fill"></i>
                </div>
                {{ email }}
            </a>
        </div>

        <div class="box my-4 lg:my-0 border-2 rounded-xl w-full lg:w-[49%] py-4 ">
            <a target="_blank" href="tel:+201024661159" class="text-white text-sm text-center">
                <div class="h-16 w-16 border border-white rounded-full mx-auto flex items-center justify-center my-2">
                    <i class="bi bi-telephone-fill text-2xl"></i>
                </div>
                01024661159
            </a>
        </div>

        <div class="box my-4 lg:my-0 border-2 rounded-xl w-full lg:w-[49%] py-4 ">
            <a target="_blank" href="#" class="text-white text-sm text-center">
                <div class="h-16 w-16 border border-white rounded-full mx-auto flex items-center justify-center my-2">
                    <i class="bi bi-geo-alt-fill text-2xl"></i>
                </div>

                Cairo, Egypt
            </a>
        </div>

        <div class="box my-4 lg:my-0 border-2 rounded-xl w-full lg:w-[49%] py-4 ">
            <a target="_blank" href="https://www.linkedin.com/in/omar-atef-328b31265"
                class="text-white text-sm text-center">
                <div
                    class="h-16 w-16 border border-white rounded-full mx-auto flex items-center justify-center my-2 text-2xl">
                    <i class="bi bi-linkedin"></i>
                </div>
                Linkedin
            </a>
        </div>

    </div>

</section>
<!-- ! Cokntact ends -->