<nav class="relative flex justify-between items-center px-5 my-5">
  <h1 class="uppercase text-2xl text-white shadow-white cursor-pointer">omar Atef</h1>
  <!-- <ul class=" p-2 py-3 rounded-full bg-white text-black flex gap-4 w-fit mx-auto lg:-translate-x-24  text-md ">
    <li>
      <a
        routerLink=""
        routerLinkActive="bg-black text-white rounded-full px-3 py-2"
        class="px-3 py-2 rounded-full"
      >Home</a>
    </li>
    <li>
      <a
        routerLink="services"
        routerLinkActive="bg-black text-white rounded-full px-3 py-2"
        class="px-3 py-2 rounded-full"
      >Services</a>
    </li>
    <li>
      <a
        routerLink="contact"
        routerLinkActive="bg-black text-white rounded-full px-3 py-2"
        class="px-3 py-2 rounded-full"
      >Contact</a>
    </li>
  </ul>
   -->
  <!-- <button
    class="px-4 py-2 rounded border border-white bg-black text-white  hover:bg-white hover:text-black hover:border-black z-10">Contact Me
    <i class="ms-2 animate-spin inline-block bi bi-phone-fill"></i>
  </button> -->
</nav>
